<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/chat.css">
  </head>
  <body>
    <div class="header">
      <div class="nav">
          <ul>
            <li><a href="/chat/login">登录</a></li>
            <li><a href="/chat/logout">退出</a></li>
          </ul>
          <ul>
            <li><a href="/chat/reg">注册</a></li>
            <li><a href="/chat/login">登录</a></li>
          </ul>

      </div>
    </div>
    <div class="container">
      <div class="content">
        <ul>
          <li>asdasaaaaaaaaaa</li>
        </ul>
      </div>
      <div class="info">
        <form action="">
          <input type="text" name="" value="" placeholder="请输入聊天内容">
          <input type="submit" name="" value="确认">
        </form>
      </div>
    </div>

    <script type="text/javascript">

    </script>
  </body>
</html>
