<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/chat.css">
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
    <div class="header">
      <div class="nav">
        <%if(user){%>
          <ul>
            <li><a href="#">用户: <%=user.loginname%> 已登录</a></li>
            <li><a href="/chat/logout">退出</a></li>
          </ul>
        <%}else{%>
          <ul>
            <li><a href="/chat/reg">注册</a></li>
            <li><a href="/chat/login">登录</a></li>
          </ul>
        <%}%>

      </div>
    </div>
    <div class="container">
      <div class="content">
        <ul class="list">
          <li>asdasaaaaaaaaaa</li>
        </ul>
      </div>
      <%if(user){%>
        <div class="info">
            <input type="text" name="word" value="" placeholder="请输入聊天内容">
            <input type="button" name="" value="发送" onclick="doit(event)">
        </div>
      <%}else{%>
        <div class="info">
            <input type="text" name="word" value="" placeholder="请先登录">
            <input type="button" name="" value="发送" onclick="doit(event)" disabled="disabled">
        </div>
      <%}%>

    </div>

    <script type="text/javascript">

    const socket = io.connect();
    const uldom = document.querySelector(".list");

    function doit(event) {
      const txt = document.querySelector(".info input:first-child")
      socket.emit("req",txt.value,function(res,name){
        const lidom = document.createElement("li");
        lidom.innerText = "用户"+name+":"+res+"----"+new Date();
        uldom.appendChild(lidom);
      });

    }
    // socket.on("welcome",data=>console.log(data));
    // socket.emit("question","wo xiang chi han bao");
    </script>
  </body>
</html>
