<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/page.css">
  </head>
  <body>
    <div class="b">
      <h1>注册</h1>
      <form class="login" action="index.html" method="post">
        <p>用户名</p>
        <input type="text" name="" value="" placeholder="name">
        <p>密码</p>
        <input type="password" name="" value="">
        <p>确认密码</p>
        <input type="password" name="" value="">
        <input type="password" name="" value="">
        <span>验证码</span>
        <img src="../images/1.png" alt="">
        <input type="submit" name="" value="注册">
      </form>
      <a href="/chat">back</a>
      <a href="/chat/login">登录</a>
    </div>
  </body>
</html>
